@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700");

body {
  background: -webkit-radial-gradient(rgba(128,128,128,0.5),rgba(0,0,0,0.5));
  /* background-color: #24B3A0; */
  background-color: #00868c;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #E4E4E4;
  font-weight: 300;
  font-size: 16px;
}

.container {
  top: 20vh;

}

h1 {
    font-weight: 600;
    margin: 0;
    font-size: 96px;
    letter-spacing: -2px;
}

h1 span {
  color: #04d2dc;
}

.avatar {
  border-radius: 50%;
  width: 128px;
  border: 3px solid #04d2dc;
}

.avatarIcon {
  animation: grayscaleAvatar 2s infinite;
}

@keyframes grayscaleAvatar {
  0% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(70%);
  }
  100% {
    filter: grayscale(0);
  }
}

.socialIcons {
  height: 42px;
  width: 42px;
  transition: 500ms all;
  filter: blur(0.5px);
  filter:grayscale(70%);
}


.socialIcons:hover {
  transition: 500ms all;
  filter:grayscale(0);
}

#github {
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0;
  filter: invert(80%) blur(1px);
  transition: 1s all;
}

#github:hover {
  filter: invert(100%) blur(0);
  transition: 1s all;
}
