.starColorFull {
  color: #22A39F;
  font-size: 12px;
}

.starColorEmpty {
  color: #DFE0E0;
  font-size: 12px;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}


.skillAbility {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  color: #434242;
}

table {
  vertical-align:text-top;
  vertical-align: top;
}


.subTitle {
  color: #22A39F;
  font-weight: 100;
}
